/*Author: Mitchell (Chad) Dundas Smith, Date: November 22, 2018,
PROJ-207-OSD-Threaded Project for OOSD, Assignment: Project Workshop 1 (HTML&Javascript).
CSS page for the register page.*/

.navbar-collapse {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.21em;
}

.tip {
  visibility: hidden;



  color: green;
}

.con {
    background-color: lightblue;
    text-align: center;
}

.jumbotron {
    background: linear-gradient(0deg, #ff6a00 0, #ee0979 100%);
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
    font-family: 'Comfortaa', cursive;
    padding: 0.7em;
}

.display-4 {
  font-size: 4vw;
}

.fieldz {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.background1 {
  background-color: black;
}

label {
  font-size: 2.5vh;
}

.navbar-brand {
  padding-top: 0;
}
#logo {
  margin-right: 6%;
}
.container-fluid {
  background-color: lightblue;
  padding-right: 0;
  padding-left: 0;
}

.container-fluid2 {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-row
{
  align-content: center;
  margin: auto;
  padding: 0;
}

.container-fluid-footer {
  padding-top: 3%;
}
#footer {
  background-color: black;
  color: white;
  padding: 25px;
}

#padding{
  margin: 50px 0px 5px 0px;
}

#container1{
    background-color:white;
    width: 80%;
    margin-left: 10%;
}

#container2{
    background-color:white;
}

#message{
  width: 50%;
}

#formLabel{
  padding: 2%;
}

#sendMessage{
  margin-bottom: 1%;
  margin-top: 0.5%;
}

.agtInfo{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.profilePic{
    width: 350px;
    height:auto;
    float: left;
    padding: 15px;
}

#team {
  border-radius: 40%;
}

#browsepackages {
  margin-top: 20%;
  margin-bottom: 60%;
}
