/*CSS page for the register page.*/

.tip {
  visibility: hidden;
/*  position: absolute;*/


  color: green;
}

.con {
    background-color: lightblue;
    text-align: center;
}

.jumbotron {
    background-color: #f47c7c;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.display-4 {
  font-size: 4vw;
}

.fieldz {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
  font-size: 2.5vh;
}

.container-fluid {
  background-color: lightblue;
}

.container-fluid2 {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-row
{
  align-content: center;
  margin: auto;
  padding: 0;
}
